# AI Course Project

**Name - Gaurav Kumar Singh**

**Roll No. - BM22MTECH11002**

In [ ]:
import pandas as pd
df = pd.read_csv("Colon.csv")   #upload colon.csv filee
df.tail(10)             # last few lines of the file

,cid,activity,acvalue,new_activity,smiles,aidname,types
3075,1328943.0,Unspecified,11.20,Active,CC[C@H]1CCC2=C(C1)SC(=C2C(=O)OCC)NC(=O)C3=CC(=...,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3076,744270.0,Unspecified,11.20,Active,CC1=NC2=C(C=C(C=C2Cl)Cl)C(=O)O1,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3077,453128.0,Unspecified,11.20,Active,NaN,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3078,452945.0,Unspecified,11.20,Active,NaN,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3079,1204351.0,Unspecified,11.20,Active,C1COC2(O1)[C@H]3[C@H]4C[C@@H]5[C@H]3C(=NO)[C@@...,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3080,1320711.0,Unspecified,11.20,Active,CC1=C(C=CC2=C1OC(=O)C3=C2CCCC3)OCC(=O)C4=CC(=C...,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3081,255916.0,Unspecified,11.25,Active,NaN,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3082,1311711.0,Unspecified,11.26,Active,CCOC1=CC=C(C=C1)NC(=O)CN(C2=CC=C(C=C2)C)S(=O)(...,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3083,1427268.0,Unspecified,11.30,Active,CC1=CC2=C(C=C1)NC3=C2C[N+](CC3)(C)C,Cytotoxicity against human HCT116 cells assess...,Colon Cancer
3084,1233701.0,Unspecified,11.30,Active,CCN1C(=O)C(=CC2=CC=C(O2)COC3=CC(=C(C=C3)Cl)Cl)...,Cytotoxicity against human HCT116 cells assess...,Colon Cancer

In [ ]:
# drop column which is not of our interest
df2 = df.drop(columns='types')  
df3 = df2.drop(columns='aidname')
df4 = df3.drop(columns='activity')
df5 = df4.drop(columns='smiles')
df5.head()

       cid  acvalue   new_activity
0   318687  0.02600  Highly active
1  1308541  0.02600  Highly active
2   452618  0.02600  Highly active
3  1163572  0.02600  Highly active
4  1668465  0.02683  Highly active

In [ ]:
#add smiles column as canonical smiles
smiles = []

for i in df4.smiles.tolist():
  cpd = str(i).split('.')
  cpd_longest = max(cpd, key = len)
  smiles.append(cpd_longest)

smiles = pd.Series(smiles, name = 'canonical_smiles')

In [ ]:
#concatenate other columns with canonical smiles column
df6 = pd.concat([df5,smiles], axis=1)
df6

,cid,acvalue,new_activity,canonical_smiles
0,318687,0.02600,Highly active,nan
1,1308541,0.02600,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...
2,452618,0.02600,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O
3,1163572,0.02600,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...
4,1668465,0.02683,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...
...,...,...,...,...
3029,247565,56.51000,Intermediate,C1=CC=C(C(=C1)C=C(C#N)C2=CC=C(C=C2)[N+](=O)[O-])O
3030,1085240,56.53000,Intermediate,CC1=CC(=C2C(=C1)SC(=N2)N=CC3=C(C(=CC(=C3)Cl)[N...
3031,742141,56.58550,Intermediate,CCC1=CC=C(C=C1)C=NNC(=O)CCN2C=NC3=CC=CC=C32
3032,1095924,56.60000,Intermediate,C1=CC=C(C=C1)CC2=CN=C(S2)NC(=O)CC#N
3033,1087248,56.60000,Intermediate,CC1=C2C(=C(C=C1)C)NC(=C2N=NC(=O)COC3=CC=C(C=C3...

In [ ]:
#Remove the row having NA value for smiles (no smiles)
new_df = df6[df6['canonical_smiles'] != "nan"]
new_df

,cid,acvalue,new_activity,canonical_smiles
1,1308541,0.02600,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...
2,452618,0.02600,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O
3,1163572,0.02600,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...
4,1668465,0.02683,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...
5,1308542,0.02700,Highly active,CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...
...,...,...,...,...
3029,247565,56.51000,Intermediate,C1=CC=C(C(=C1)C=C(C#N)C2=CC=C(C=C2)[N+](=O)[O-])O
3030,1085240,56.53000,Intermediate,CC1=CC(=C2C(=C1)SC(=N2)N=CC3=C(C(=CC(=C3)Cl)[N...
3031,742141,56.58550,Intermediate,CCC1=CC=C(C=C1)C=NNC(=O)CCN2C=NC3=CC=CC=C32
3032,1095924,56.60000,Intermediate,C1=CC=C(C=C1)CC2=CN=C(S2)NC(=O)CC#N
3033,1087248,56.60000,Intermediate,CC1=C2C(=C(C=C1)C)NC(=C2N=NC(=O)COC3=CC=C(C=C3...

In [ ]:
# Rename ac value to standard value
new_df.rename(columns={'acvalue': 'standard_value'}, inplace=True)
new_df

<ipython-input-33-2b253d508210>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={'acvalue': 'standard_value'}, inplace=True)

,cid,standard_value,new_activity,canonical_smiles
1,1308541,0.02600,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...
2,452618,0.02600,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O
3,1163572,0.02600,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...
4,1668465,0.02683,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...
5,1308542,0.02700,Highly active,CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...
...,...,...,...,...
3029,247565,56.51000,Intermediate,C1=CC=C(C(=C1)C=C(C#N)C2=CC=C(C=C2)[N+](=O)[O-])O
3030,1085240,56.53000,Intermediate,CC1=CC(=C2C(=C1)SC(=N2)N=CC3=C(C(=CC(=C3)Cl)[N...
3031,742141,56.58550,Intermediate,CCC1=CC=C(C=C1)C=NNC(=O)CCN2C=NC3=CC=CC=C32
3032,1095924,56.60000,Intermediate,C1=CC=C(C=C1)CC2=CN=C(S2)NC(=O)CC#N
3033,1087248,56.60000,Intermediate,CC1=C2C(=C(C=C1)C)NC(=C2N=NC(=O)COC3=CC=C(C=C3...

In [ ]:
# install miniconda and the from miniconda install rdkit 
! wget https://repo.anaconda.com/miniconda/Miniconda3-py37_4.8.2-Linux-x86_64.sh
! chmod +x Miniconda3-py37_4.8.2-Linux-x86_64.sh
! bash ./Miniconda3-py37_4.8.2-Linux-x86_64.sh -b -f -p /usr/local
! conda install -c rdkit rdkit -y
import sys
sys.path.append('/usr/local/lib/python3.7/site-packages/')

In [ ]:
! pip install rdkit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rdkit in /usr/local/lib/python3.7/site-packages (2022.9.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/site-packages (from rdkit) (1.21.5)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/site-packages (from rdkit) (8.3.1)

In [ ]:
import numpy as np
from rdkit import Chem
from rdkit.Chem import Descriptors, Lipinski

In [ ]:


def lipinski(smiles, verbose=False):

    moldata= []
    for elem in smiles:
        mol=Chem.MolFromSmiles(elem) 
        moldata.append(mol) if mol != None else print(elem,mol)
       
    baseData= np.arange(1,1)
    i=0  
    for mol in moldata:
        #print(mol)        
       
        desc_MolWt = Descriptors.MolWt(mol)
        desc_MolLogP = Descriptors.MolLogP(mol)
        desc_NumHDonors = Lipinski.NumHDonors(mol)
        desc_NumHAcceptors = Lipinski.NumHAcceptors(mol)
           
        row = np.array([desc_MolWt,
                        desc_MolLogP,
                        desc_NumHDonors,
                        desc_NumHAcceptors])   
    
        if(i==0):
            baseData=row
        else:
            baseData=np.vstack([baseData, row])
        i=i+1      
    
    columnNames=["MW","LogP","NumHDonors","NumHAcceptors"]   
    descriptors = pd.DataFrame(data=baseData,columns=columnNames)
    
    return descriptors

In [ ]:
df_lipinski = lipinski(new_df.canonical_smiles,verbose=False)
df_lipinski.tail()

           MW     LogP  NumHDonors  NumHAcceptors
2584  266.256  3.36458         1.0            4.0
2585  361.810  4.93094         1.0            6.0
2586  320.396  3.13910         1.0            4.0
2587  257.318  2.58608         1.0            4.0
2588  353.378  4.18824         2.0            5.0

In [ ]:
d1 = df_lipinski.min()
d2 = df_lipinski.max()
print(d1)
print(d2)

MW               43.0890
LogP             -4.0435
NumHDonors        0.0000
NumHAcceptors     0.0000
dtype: float64
MW               833.2150
LogP              13.7021
NumHDonors        12.0000
NumHAcceptors     11.0000
dtype: float64

In [ ]:
df_combined = pd.concat([new_df,df_lipinski], axis=1)
df_combined

,cid,standard_value,new_activity,canonical_smiles,MW,LogP,NumHDonors,NumHAcceptors
1,1308541.0,0.02600,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...,386.492,2.78820,4.0,6.0
2,452618.0,0.02600,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O,488.613,5.20720,1.0,7.0
3,1163572.0,0.02600,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...,520.890,7.90420,0.0,4.0
4,1668465.0,0.02683,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...,395.871,4.81901,2.0,5.0
5,1308542.0,0.02700,Highly active,CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...,419.506,4.32370,0.0,7.0
...,...,...,...,...,...,...,...,...
2554,NaN,NaN,NaN,NaN,436.899,4.56740,2.0,6.0
2557,NaN,NaN,NaN,NaN,97.161,1.63120,0.0,1.0
2560,NaN,NaN,NaN,NaN,439.309,4.17190,2.0,3.0
2562,NaN,NaN,NaN,NaN,375.515,4.76300,1.0,5.0
2580,NaN,NaN,NaN,NaN,257.245,2.34270,3.0,3.0

In [ ]:
d1 = df_combined.min()
d2 = df_combined.max()
print(d1)
print(d2)

cid               1848.0000
standard_value       0.0260
MW                  43.0890
LogP                -4.0435
NumHDonors           0.0000
NumHAcceptors        0.0000
dtype: float64
cid               1.772157e+06
standard_value    5.660000e+01
MW                8.332150e+02
LogP              1.370210e+01
NumHDonors        1.200000e+01
NumHAcceptors     1.100000e+01
dtype: float64

<ipython-input-41-36287f3fdfbf>:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  d1 = df_combined.min()
<ipython-input-41-36287f3fdfbf>:2: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  d2 = df_combined.max()

In [ ]:
import numpy as np
import math

def pIC50(input):
    pIC50 = []

    for i in input['standard_value']:
      pic50 =  6 - math.log10(i)
      pIC50.append(pic50)

        
    return pd.DataFrame(pIC50)

In [ ]:
df_final = pIC50(df_combined)
df_final.head()

          0
0  7.585027
1  7.585027
2  7.585027
3  7.571379
4  7.568636

In [ ]:
df_final = pd.concat([df_combined,df_final], axis=1)
df_final

,cid,standard_value,new_activity,canonical_smiles,MW,LogP,NumHDonors,NumHAcceptors,0
1,1308541.0,0.02600,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...,386.492,2.78820,4.0,6.0,7.585027
2,452618.0,0.02600,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O,488.613,5.20720,1.0,7.0,7.585027
3,1163572.0,0.02600,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...,520.890,7.90420,0.0,4.0,7.571379
4,1668465.0,0.02683,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...,395.871,4.81901,2.0,5.0,7.568636
5,1308542.0,0.02700,Highly active,CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...,419.506,4.32370,0.0,7.0,7.568636
...,...,...,...,...,...,...,...,...,...
2937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_final.rename(columns={0: 'pIC50'}, inplace=True)
df_final.drop(["standard_value"],axis=1, inplace=True)
#df_final.drop(["standard_value_norm"],axis=1, inplace=True)
df_final

,cid,new_activity,canonical_smiles,MW,LogP,NumHDonors,NumHAcceptors,pIC50
1,1308541.0,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...,386.492,2.78820,4.0,6.0,7.585027
2,452618.0,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O,488.613,5.20720,1.0,7.0,7.585027
3,1163572.0,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...,520.890,7.90420,0.0,4.0,7.571379
4,1668465.0,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...,395.871,4.81901,2.0,5.0,7.568636
5,1308542.0,Highly active,CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...,419.506,4.32370,0.0,7.0,7.568636
...,...,...,...,...,...,...,...,...
2937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_final = df_final.dropna()
df_final

,cid,new_activity,canonical_smiles,MW,LogP,NumHDonors,NumHAcceptors,pIC50
1,1308541.0,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...,386.492,2.78820,4.0,6.0,7.585027
2,452618.0,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O,488.613,5.20720,1.0,7.0,7.585027
3,1163572.0,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...,520.890,7.90420,0.0,4.0,7.571379
4,1668465.0,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...,395.871,4.81901,2.0,5.0,7.568636
5,1308542.0,Highly active,CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...,419.506,4.32370,0.0,7.0,7.568636
...,...,...,...,...,...,...,...,...
2584,493251.0,Active,C1=CC=C(C=C1)C2=C(C(=O)C3=C(O2)C=C(C=C3)C(=O)C...,266.256,3.36458,1.0,4.0,4.247875
2585,1604228.0,Active,CC1=CC=C(C=C1)N2C(=NN=C2SCC(=O)NN=CC3=C(C=C(C=...,361.810,4.93094,1.0,6.0,4.247721
2586,307552.0,Active,CC1=C(C=CC=C1Cl)NC(=O)NC2=C(C=C(C=C2)OC)OC,320.396,3.13910,1.0,4.0,4.247295
2587,1568855.0,Active,CCOC1=CC=C(C=C1)NC(=O)CCCOC2=CC=C(C=C2)OC,257.318,2.58608,1.0,4.0,4.247184
2588,1183374.0,Active,CC(C)OC(=O)C1=CC=C(C=C1)NC(=O)COC2=CC=CC=C2[N+...,353.378,4.18824,2.0,5.0,4.247184

In [ ]:
df_final.pIC50.describe()

count    2211.000000
mean        4.745886
std         0.439627
min         4.247184
25%         4.481289
50%         4.686131
75%         4.863279
max         7.585027
Name: pIC50, dtype: float64

In [ ]:
df_final.to_csv('cancer_pIC50.csv')

In [ ]:
! wget https://github.com/dataprofessor/bioinformatics/raw/master/padel.zip
! wget https://github.com/dataprofessor/bioinformatics/raw/master/padel.sh

--2023-04-28 08:10:14--  https://github.com/dataprofessor/bioinformatics/raw/master/padel.zip
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/dataprofessor/bioinformatics/master/padel.zip [following]
--2023-04-28 08:10:14--  https://raw.githubusercontent.com/dataprofessor/bioinformatics/master/padel.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25768637 (25M) [application/zip]
Saving to: ‘padel.zip’

padel.zip           100%[===================>]  24.57M  --.-KB/s    in 0.1s

2023-04-28 08:10:16 (165 MB/s) - ‘padel.zip’ saved [25768637/25768637]

--2023-04-28 08:10:16--  https://github.com/dataprofessor/bioinformatics/raw/master/padel.sh
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/dataprofessor/bioinformatics/master/padel.sh [following]
--2023-04-28 08:10:16--  https://raw.githubusercontent.com/dataprofessor/bioinformatics/master/padel.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 231 [text/plain]
Saving to: ‘padel.sh’

padel.sh            100%[===================>]     231  --.-KB/s    in 0s

2023-04-28 08:10:16 (15.2 MB/s) - ‘padel.sh’ saved [231/231]

In [ ]:
! unzip padel.zip

In [ ]:
df3 = pd.read_csv('cancer_pIC50.csv')
df3

,Unnamed: 0,cid,new_activity,canonical_smiles,MW,LogP,NumHDonors,NumHAcceptors,pIC50
0,1,1308541.0,Highly active,CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...,386.492,2.78820,4.0,6.0,7.585027
1,2,452618.0,Highly active,C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O,488.613,5.20720,1.0,7.0,7.585027
2,3,1163572.0,Highly active,CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...,520.890,7.90420,0.0,4.0,7.571379
3,4,1668465.0,Highly active,C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...,395.871,4.81901,2.0,5.0,7.568636
4,5,1308542.0,Highly active,CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...,419.506,4.32370,0.0,7.0,7.568636
...,...,...,...,...,...,...,...,...,...
2206,2584,493251.0,Active,C1=CC=C(C=C1)C2=C(C(=O)C3=C(O2)C=C(C=C3)C(=O)C...,266.256,3.36458,1.0,4.0,4.247875
2207,2585,1604228.0,Active,CC1=CC=C(C=C1)N2C(=NN=C2SCC(=O)NN=CC3=C(C=C(C=...,361.810,4.93094,1.0,6.0,4.247721
2208,2586,307552.0,Active,CC1=C(C=CC=C1Cl)NC(=O)NC2=C(C=C(C=C2)OC)OC,320.396,3.13910,1.0,4.0,4.247295
2209,2587,1568855.0,Active,CCOC1=CC=C(C=C1)NC(=O)CCCOC2=CC=C(C=C2)OC,257.318,2.58608,1.0,4.0,4.247184
2210,2588,1183374.0,Active,CC(C)OC(=O)C1=CC=C(C=C1)NC(=O)COC2=CC=CC=C2[N+...,353.378,4.18824,2.0,5.0,4.247184

In [ ]:
selection = ['canonical_smiles','cid']
df3_selection = df3[selection]
df3_selection.to_csv('molecule.smi', sep='\t', index=False, header=False)
df3_selection

                                       canonical_smiles        cid
0     CCC(=O)NC(=S)NC1=CC=C(C=C1)NC(=O)C2=C(C=CC(=C2...  1308541.0
1     C1COCCC1NCC2=C(C3=C(C=C2)C(=C(C=C3)O)CNC4CCOCC4)O   452618.0
2     CCC1=CC=C(C=C1)OCC2=NN=C(N2CC3=CC=CC=C3)SCC(=O...  1163572.0
3     C1=CC=C2C(=C1)C=CC=C2/C=C/C(=O)OC3=CC4=C(C=C3)...  1668465.0
4     CC1=C(C=CC=C1Cl)N2C(=C(C(=O)NC2=S)C=C3C=NC4=CC...  1308542.0
...                                                 ...        ...
2206  C1=CC=C(C=C1)C2=C(C(=O)C3=C(O2)C=C(C=C3)C(=O)C...   493251.0
2207  CC1=CC=C(C=C1)N2C(=NN=C2SCC(=O)NN=CC3=C(C=C(C=...  1604228.0
2208         CC1=C(C=CC=C1Cl)NC(=O)NC2=C(C=C(C=C2)OC)OC   307552.0
2209          CCOC1=CC=C(C=C1)NC(=O)CCCOC2=CC=C(C=C2)OC  1568855.0
2210  CC(C)OC(=O)C1=CC=C(C=C1)NC(=O)COC2=CC=CC=C2[N+...  1183374.0

[2211 rows x 2 columns]

In [ ]:
! cat molecule.smi | tail -5

C1=CC=C(C=C1)C2=C(C(=O)C3=C(O2)C=C(C=C3)C(=O)C4=CC=CC=C4)C(=O)C5=CC=CC=C5	493251.0
CC1=CC=C(C=C1)N2C(=NN=C2SCC(=O)NN=CC3=C(C=C(C=C3)Cl)Cl)C4=CC=C(C=C4)OC	1604228.0
CC1=C(C=CC=C1Cl)NC(=O)NC2=C(C=C(C=C2)OC)OC	307552.0
CCOC1=CC=C(C=C1)NC(=O)CCCOC2=CC=C(C=C2)OC	1568855.0
CC(C)OC(=O)C1=CC=C(C=C1)NC(=O)COC2=CC=CC=C2[N+](=O)[O-]	1183374.0

In [ ]:
! cat molecule.smi | wc -l

2211

# Calculate fingerprint descriptors

In [ ]:
! cat padel.sh

java -Xms1G -Xmx1G -Djava.awt.headless=true -jar ./PaDEL-Descriptor/PaDEL-Descriptor.jar -removesalt -standardizenitro -fingerprints -descriptortypes ./PaDEL-Descriptor/PubchemFingerprinter.xml -dir ./ -file descriptors_output.csv

In [ ]:
! bash padel.sh

In [ ]:
df3_X = pd.read_csv('descriptors_output.csv')
df3_X

,Name,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,1308541.0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,452618.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1163572.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1668465.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1308542.0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,1604228.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2207,493251.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2208,307552.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2209,1568855.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2210,1183374.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

preparing X and Y matrices

In [ ]:
df3_X = df3_X.drop(columns=['Name'])
df3_X

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2207,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2208,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2209,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2210,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df3_Y = df3['pIC50']
df3_Y

0       7.585027
1       7.585027
2       7.571379
3       7.568636
4       7.568636
          ...
2206    4.247875
2207    4.247721
2208    4.247295
2209    4.247184
2210    4.247184
Name: pIC50, Length: 2211, dtype: float64

combining X and Y

In [ ]:
dataset3 = pd.concat([df3_X,df3_Y], axis=1)
dataset3

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,pIC50
0,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,7.585027
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,7.585027
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,7.571379
3,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,7.568636
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,7.568636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4.247875
2207,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4.247721
2208,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4.247295
2209,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4.247184
2210,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4.247184

In [ ]:
dataset4 = dataset3.dropna()

In [ ]:
dataset4.to_csv('cancer_pIC50_pubchem_fp.csv', index=False)

# **Xgboost regression**

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('cancer_pIC50_pubchem_fp.csv')
X = df.drop('pIC50', axis=1)
Y = df.pIC50
Y = Y.dropna()

# Removing the low variance data
from sklearn.feature_selection import VarianceThreshold
selection = VarianceThreshold(threshold=(.8 * (1 - .8)))    
X = selection.fit_transform(X)

#Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)


###### Xgboost Regression in Python #######
from xgboost import XGBRegressor
RegModel=XGBRegressor(max_depth=8, learning_rate=0.1, n_estimators=1000, booster='gbtree')

#Printing all the parameters of XGBoost
print(RegModel)

#Creating the model on Training Data
XGB=RegModel.fit(X_train,Y_train)
prediction=XGB.predict(X_test)

#Measuring Goodness of fit in Training data
from sklearn import metrics
print('R2 Value : ',metrics.r2_score(Y_train, XGB.predict(X_train)))  #it predict coorelation between x and y variable,more corelation more goodness of fit
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(Y_test, prediction)
print("MSE: ", mse)

#Measuring accuracy on Testing Data
print('Accuracy : ',100- (np.mean(np.abs((Y_test - prediction) / Y_test)) * 100))

XGBRegressor(base_score=None, booster='gbtree', callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=8, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=1000, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
R2 Value :  0.7298537795401107
MSE:  0.1454252711966243
Accuracy :  94.72649967030591

In [ ]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(Y_test, prediction)
rmse = np.sqrt(mse)
print("RMSE : ",rmse)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y_test, prediction)
print("MAE : ",mae)

Explained_variance :  0.15209829366966698
RMSE :  0.36796946414772636
MAE :  0.27126435168099705

# **AdaBoost regression**

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('cancer_pIC50_pubchem_fp.csv')
X = df.drop('pIC50', axis=1)
Y = df.pIC50
Y = Y.dropna()



#Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

###### Adaboost Regression in Python #######
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

#Choosing Decision Tree with 1 level as the weak learner
DTR=DecisionTreeRegressor(max_depth=7)
RegModel = AdaBoostRegressor(n_estimators=1000, base_estimator=DTR ,learning_rate=0.1)

#Printing all the parameters of Adaboost
print(RegModel)

#Creating the model on Training Data
AB=RegModel.fit(X_train,Y_train)
prediction=AB.predict(X_test)

#Measuring Goodness of fit in Training data
from sklearn import metrics
print('R2 Value:',metrics.r2_score(Y_train, AB.predict(X_train)))

#Measuring accuracy on Testing Data
print('Accuracy',100- (np.mean(np.abs((Y_test - prediction) / Y_test)) * 100))

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=7),
                  learning_rate=0.1, n_estimators=1000)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

R2 Value: 0.5296739469230491
Accuracy 94.3271382504078

# **Linear regression**

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('cancer_pIC50_pubchem_fp.csv')
X = df.drop('pIC50', axis=1)
Y = df.pIC50
Y = Y.dropna()

In [ ]:
model = LinearRegression()

In [ ]:
model = LinearRegression().fit(X, Y)

In [ ]:
sco = model.score(X,Y)
print(f"Accuracy: {sco}")

Accuracy: 0.5461390827356274

# **Random forest regression**

In [ ]:
import pandas as pd
import seaborn as sns
import math
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

In [ ]:
rf = RandomForestRegressor(n_estimators=100)
rf.fit(X, Y)

RandomForestRegressor()

In [ ]:
sco = rf.score(X,Y)
print(f"Accuracy: {sco}")

Accuracy: 0.6597432876665523